# Config data
pips_users_with_wrong_date.yaml

# Data from running the bot
sqlite-database.db
logs/

# Alembic
alembic/ 
alembic.ini

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class



# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
