py-cord
python-dotenv

# Formatter
Black

# Database 
SQLAlchemy
aiosqlite

# Dice rolling library for TTRPG
dyce
d20

# Plotting library for statistics
seaborn


# Random online functionality
requests


# this library is needed when running python 3.13 or above
audioop-lts 